<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>locais</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <h1 class="title" style="color: darkgreen">Veggie Burger Estoque</h1>
    <h2 class="card-subtitle" style="color: green">Cadastro de locais</h2>
    <div class="alert alert-danger"
         th:if="${msgE !=null}" th:text="${msgE}"></div>
    <table class="table">
    <form th:action="@{/local/cadastrar}" th:object="${local}" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input th:field="*{nome}" id="nome" class="form-control">
        </div>
        <button class="btn btn-success">Cadastrar</button>
    </form>
</body>
</html>